.profile__subtitle{
  display:flex;
  font-family: "Inter", Arial, sans-serif;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: auto;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px){
  .profile__subtitle{
    text-align: center;
    font-size: 14px;

  }
}
