.popup__comment{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  font-family: "Inter", Arial, sans-serif;
  color: black;
  font-weight: 400;
  font-size: 14px;
  margin: 0 0 48px 0;
  padding: 0 0 13px 0;
  box-sizing: border-box;
  max-height: 27px;

}

@media screen and (max-width: 767px){
  .popup__comment{
    margin-bottom:45px;
  }
}
